<nav class="nav">
    <a class="nav-link p-0 ps-3 cart_count" href="/cart" id="cart">
        <sup class="cartCount badge d-none"></sup>
        <img class="icon" src="/assets/icon-shopping_cart.svg" alt="سلة تبرعاتك">
    </a>
   
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;

<a class="nav-link p-0 mt-1 pe-3" routerLink="register" id="inscrit" >
    <span class="text-primary-blue">تسجيل الدخول</span>
    
        <img class="icon" src="/assets/icon-profile.svg" alt="تسجيل الدخول">
</a>
</nav>





<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li class="nav-item  ">
                    <a class="nav-link amiri" routerLink="hikam">أدعية دينية</a>
                
                </li>
                    

<li class="nav-item"><a routerLink="nidam" class="nav-link">نظام غذائي صحي</a>
</li>
                    
                    <li class="nav-item active">
                        <a class="nav-link"  aria-current="page" routerLink="meal">وصفات رمضانية</a>
                    </li>
                 
                    <li class="nav-item  ">
                        <a class="nav-link amiri" routerLink="mawakit"  >إمساكية رمضان</a>
                    
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link amiri" routerLink="" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" aria-current="false">نصائح</a>
                    
                    </li>
                  
                    <li class="nav-item  ">
                        <a class="nav-link amiri" routerLink="don" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            aria-current="false" >فرص التبرع</a>
                    
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link amiri" routerLink="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            aria-current="false">الرئيسية</a>
                    
                    </li>
                   
                  
                 
                    
    
                </ul>
    
    
  
</header>
    
<a href="/" class="navbar-brand"><img loading="lazy" src="/assets/logo.webp"
        alt="منصة "></a>
        