<h1 class="title" itemprop="headline">نظام غذائي صحي في رمضان</h1>
<img id="articleimagediv" itemprop="image" width="614" height="292" alt="صورة مقال نظام غذائي صحي في رمضان"
    title="نظام غذائي صحي في رمضان"
    src="https://modo3.com/thumbs/fit630x300/137144/1479742943/%D9%86%D8%B8%D8%A7%D9%85_%D8%BA%D8%B0%D8%A7%D8%A6%D9%8A_%D8%B5%D8%AD%D9%8A_%D9%81%D9%8A_%D8%B1%D9%85%D8%B6%D8%A7%D9%86.jpg"
    fetchpriority="high" data-src="">

<h2><span class="mw-headline"
        id=".D8.A7.D9.84.D9.86.D8.B8.D8.A7.D9.85_.D8.A7.D9.84.D8.BA.D8.B0.D8.A7.D8.A6.D9.8A_.D9.81.D9.8A_.D8.B1.D9.85.D8.B6.D8.A7.D9.86"><b>النظام
            الغذائي في رمضان</b></span></h2>

         