<br><br><br>

    <div class="line me-5"></div>
    <div
        style="text-align: center; font-weight: bold; font-size: 40px; font-family: 'Times New Roman', Times, serif;  color: #214570 !important;;">
                           من فرص التبرع
       
    </div>
    <br> <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <h6 class="card-text">زكاة الفطرة</h6>
                    <div class="card-body">
                        <img src="assets/zakat.jpg" class="card-img-top" alt="...">
                        <br><br>
                        <a href="#" class="btn btn-primary-green">تبرع الآن</a>
                        <div class="btn-round-icon">
                            <mat-icon>shopping_cart</mat-icon>
                        </div>
                        <br><br><br><br>
                        <input type="text" placeholder="مبلغ التبرع" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <h6 class="card-text">التبرع بلباس العيد</h6>
                    <div class="card-body">
                        <img src="assets/lebsa.webp" class="card-img-top" alt="...">
                        <br><br>
                        <a href="#" class="btn btn-primary-green">تبرع الآن</a>
                        <div class="btn-round-icon">
                            <mat-icon>shopping_cart</mat-icon>
                        </div>
                        <br><br><br><br>
                        <input type="text" placeholder="مبلغ التبرع" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <h6 class="card-text">كفارة العاجز عن الصيام</h6>
                    <div class="card-body">
                        <img src="assets/التبرع.jpg" class="card-img-top" alt="...">
                        <br><br>
                        <a href="#" class="btn btn-primary-green">تبرع الآن</a>
                        <div class="btn-round-icon">
                            <mat-icon>shopping_cart</mat-icon>
                        </div>
                        <br><br><br><br>
                        <input type="text" placeholder="مبلغ التبرع" class="form-control">
                    </div>
                </div>
            </div>

        </div>

    </div>


