<section _ngcontent-ng-c3807716210="" style="background-color: #fff;">
    <div _ngcontent-ng-c3807716210="" class="home_video_background"
        style="padding-top: 0px; background-image: url('https://cuisine.nessma.tv/uploads/6/2020-04/69207732509c09380c574ecf04cfa1c0.jpg'); background-size: 100%; background-repeat: no-repeat;">
        <div _ngcontent-ng-c3807716210="" class="container">
            <div _ngcontent-ng-c3807716210="" class="main_title" style="margin-top: 50px; margin-bottom: 50px;">
                <h2 _ngcontent-ng-c3807716210=""
                    style="color: #fff; font-size: 50px; text-shadow: 0px 2px 5px rgba(0,0,0,.5);">وصفات رمضان 2024</h2>
                <p _ngcontent-ng-c3807716210="" style="color: #fff; text-shadow: 0px 2px 5px rgba(0,0,0,.5);"></p>
            </div>
            <div _ngcontent-ng-c3807716210="" class="row row-valign">
                <div _ngcontent-ng-c3807716210="" class="col-md-4">
                    <div _ngcontent-ng-c3807716210="" class="recipes-review"
                        style="height: 100%!important; box-shadow: 0px 2px 3px rgba(0,0,0,.3); border: 0px; border-radius: 10px; background-color: #fff;">
                        <div _ngcontent-ng-c3807716210="" class="recipes-img"><a _ngcontent-ng-c3807716210=""
                                href="https://www.youtube.com/watch?v=dJ-RL8f-dPg"><img
                                    _ngcontent-ng-c3807716210=""
                                    src="https://cuisine.nessma.tv/uploads/2/2021-05/fc10a7c62b9f4a819d2307268b269662.jpg"
                                    alt="" style="max-height: 185px !important; border-radius: 10px 10px 0px 0px;"></a>
                            <div _ngcontent-ng-c3807716210="" class="favorite"><a _ngcontent-ng-c3807716210=""
                                    data-toggle="modal" data-original-title="Ajouter à mes favories"
                                    data-target="#loginModel"><i _ngcontent-ng-c3807716210=""
                                        class="fa fa-heart"></i></a></div>
                        </div>
                        <div _ngcontent-ng-c3807716210="" class="recipes-content">
                            <h3 _ngcontent-ng-c3807716210="" style="font-size: 25px;"><a _ngcontent-ng-c3807716210=""
                                    href="https://cuisine.nessma.tv/ar/recette/4492/%D8%A3%D9%83%D9%84%D8%A7%D8%AA-%D8%AA%D9%88%D9%86%D8%B3%D9%8A%D8%A9/%D9%83%D8%B3%D9%83%D8%B3%D9%8A/%D9%83%D8%B3%D9%83%D8%B3%D9%8A-%D8%A8%D8%A7%D9%84%D9%82%D8%B1%D9%86%D9%8A%D8%B7">كسكسي
                                    بالقرنيط</a></h3>
                            <p _ngcontent-ng-c3807716210=""> يعدّ طبق الكسكسي من أفضل الأكلات التونسية الشهيّة. تقترح
                                طريقة تحضير كسكسي بالقرنيط </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ng-c3807716210="" class="col-md-4">
                    <div _ngcontent-ng-c3807716210="" class="recipes-review"
                        style="height: 100%!important; box-shadow: 0px 2px 3px rgba(0,0,0,.3); border: 0px; border-radius: 10px; background-color: #fff;">
                        <div _ngcontent-ng-c3807716210="" class="recipes-img"><a _ngcontent-ng-c3807716210=""
                                href="https://www.youtube.com/watch?v=xTjefWR2B1U"><img
                                    _ngcontent-ng-c3807716210=""
                                    src="https://cuisine.nessma.tv/uploads/2/2021-05/e6fa27b045dac00cfb938591f3efd992.jpg"
                                    alt="" style="max-height: 185px !important; border-radius: 10px 10px 0px 0px;"></a>
                            <div _ngcontent-ng-c3807716210="" class="favorite"><a _ngcontent-ng-c3807716210=""
                                    data-toggle="modal" data-original-title="Ajouter à mes favories"
                                    data-target="#loginModel"><i _ngcontent-ng-c3807716210=""
                                        class="fa fa-heart"></i></a></div>
                        </div>
                        <div _ngcontent-ng-c3807716210="" class="recipes-content">
                            <h3 _ngcontent-ng-c3807716210="" style="font-size: 25px;"><a _ngcontent-ng-c3807716210=""
                                    href="https://www.youtube.com/watch?v=xTjefWR2B1U">وصفة
                                    ناجحة لتحضير المحنشة</a></h3>
                            <p _ngcontent-ng-c3807716210=""> تعتبر المحنشة من الحلويات التونسية الزمنية التي يمكن
                                إعدادها في المنزل. تقدّم وصفة ناجحة لتحضير المحنشة </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ng-c3807716210="" class="col-md-4">
                    <div _ngcontent-ng-c3807716210="" class="recipes-review"
                        style="height: 100%!important; box-shadow: 0px 2px 3px rgba(0,0,0,.3); border: 0px; border-radius: 10px; background-color: #fff;">
                        <div _ngcontent-ng-c3807716210="" class="recipes-img"><a _ngcontent-ng-c3807716210=""
                                href="https://www.youtube.com/watch?v=MI6btXSi1Ms"><img _ngcontent-ng-c3807716210=""
                                    src="assets/7.jpg" alt=""
                                    style="max-height: 185px !important; border-radius: 10px 10px 0px 0px;"></a>
                            <div _ngcontent-ng-c3807716210="" class="favorite"><a _ngcontent-ng-c3807716210=""
                                    data-toggle="modal" data-original-title="Ajouter à mes favories"
                                    data-target="#loginModel"><i _ngcontent-ng-c3807716210=""
                                        class="fa fa-heart"></i></a></div>
                        </div>
                        <div _ngcontent-ng-c3807716210="" class="recipes-content">
                            <h3 _ngcontent-ng-c3807716210="" style="font-size: 25px;"><a _ngcontent-ng-c3807716210=""
                                    href="https://www.youtube.com/watch?v=MI6btXSi1Ms">طاجين تونسي بالدجاج </a></h3>
                            <p _ngcontent-ng-c3807716210=""> تختلف أطباق السلطة باختلاف المكونات وطرق تحضيرها. تقدّم
                                طريقة تحضير سلطة طماطم محمّرة. وصفة ناجحة وشهية </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ng-c3807716210="" class="col-md-4">
                    <div _ngcontent-ng-c3807716210="" class="recipes-review"
                        style="height: 100%!important; box-shadow: 0px 2px 3px rgba(0,0,0,.3); border: 0px; border-radius: 10px; background-color: #fff;">
                        <div _ngcontent-ng-c3807716210="" class="recipes-img"><a _ngcontent-ng-c3807716210=""
                                href="https://www.youtube.com/watch?v=f1MuOqjWnAc"><img
                                    _ngcontent-ng-c3807716210=""
                                    src="https://cuisine.nessma.tv/uploads/2/2021-05/2e3b742d171a871535030816ed857848.jpg"
                                    alt="" style="max-height: 185px !important; border-radius: 10px 10px 0px 0px;"></a>
                            <div _ngcontent-ng-c3807716210="" class="favorite"><a _ngcontent-ng-c3807716210=""
                                    data-toggle="modal" data-original-title="Ajouter à mes favories"
                                    data-target="#loginModel"><i _ngcontent-ng-c3807716210=""
                                        class="fa fa-heart"></i></a></div>
                        </div>
                        <div _ngcontent-ng-c3807716210="" class="recipes-content">
                            <h3 _ngcontent-ng-c3807716210="" style="font-size: 25px;"><a _ngcontent-ng-c3807716210=""
                                    href="https://www.youtube.com/watch?v=Bcn9I3Z8PtU">طريقة تحضير البوزة في دقائق</a>
                            </h3>
                            <p _ngcontent-ng-c3807716210=""> تعدّ البوزة أفضل تحلية تونسية لسهرة رمضانية. تقدّم وصفة
                                ناجحة لتحضير البوزة في دقائق ودون عناء </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ng-c3807716210="" class="col-md-4">
                    <div _ngcontent-ng-c3807716210="" class="recipes-review"
                        style="height: 100%!important; box-shadow: 0px 2px 3px rgba(0,0,0,.3); border: 0px; border-radius: 10px; background-color: #fff;">
                        <div _ngcontent-ng-c3807716210="" class="recipes-img"><a _ngcontent-ng-c3807716210=""
                                href="https://www.youtube.com/watch?v=1GQh7hluQ10"><img
                                    _ngcontent-ng-c3807716210=""
                                    src="https://cuisine.nessma.tv/uploads/2/2021-05/12a68bd4b9efc6d09e171a4f7e00c292.jpg"
                                    alt="" style="max-height: 185px !important; border-radius: 10px 10px 0px 0px;"></a>
                            <div _ngcontent-ng-c3807716210="" class="favorite"><a _ngcontent-ng-c3807716210=""
                                    data-toggle="modal" data-original-title="Ajouter à mes favories"
                                    data-target="#loginModel"><i _ngcontent-ng-c3807716210=""
                                        class="fa fa-heart"></i></a></div>
                        </div>
                        <div _ngcontent-ng-c3807716210="" class="recipes-content">
                            <h3 _ngcontent-ng-c3807716210="" style="font-size: 25px;"><a _ngcontent-ng-c3807716210=""
                                    href="https://cuisine.nessma.tv/ar/recette/4469/%D9%85%D9%86-%D8%A7%D9%84%D8%B9%D8%A7%D9%84%D9%85/%D8%A3%D8%B7%D8%A8%D8%A7%D9%82-%D8%B1%D8%A6%D9%8A%D8%B3%D9%8A%D8%A9/%D8%AA%D8%A7%D9%84%D9%8A%D8%A7%D8%AA%D9%8A%D9%84%D9%8A-%D8%A8%D8%A7%D9%84%D9%83%D8%B1%D9%88%D9%81%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D9%82%D8%B1%D9%86%D9%8A%D8%B7">تالياتيلي
                                    بالكروفات والقرنيط</a></h3>
                            <p _ngcontent-ng-c3807716210=""> يعدّ طبق التالياتيلي من أفضل الأطباق الإيطالية الذي يمكن
                                تقديمه كطبق رئيسي تقدم طريقة تحضير تالياتيلي بالكروفات والقرنيط </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ng-c3807716210="" class="col-md-4">
                    <div _ngcontent-ng-c3807716210="" class="recipes-review"
                        style="height: 100%!important; box-shadow: 0px 2px 3px rgba(0,0,0,.3); border: 0px; border-radius: 10px; background-color: #fff;">
                        <div _ngcontent-ng-c3807716210="" class="recipes-img"><a _ngcontent-ng-c3807716210=""
                                href="https://www.youtube.com/watch?v=Pmo88qWxUvM"><img
                                    _ngcontent-ng-c3807716210=""
                                    src="https://cuisine.nessma.tv/uploads/2/2021-05/bb4d47e531211bbf542f8b1a0ed7e5e6.jpg"
                                    alt="" style="max-height: 185px !important; border-radius: 10px 10px 0px 0px;"></a>
                            <div _ngcontent-ng-c3807716210="" class="favorite"><a _ngcontent-ng-c3807716210=""
                                    data-toggle="modal" data-original-title="Ajouter à mes favories"
                                    data-target="#loginModel"><i _ngcontent-ng-c3807716210=""
                                        class="fa fa-heart"></i></a></div>
                        </div>
                        <div _ngcontent-ng-c3807716210="" class="recipes-content">
                            <h3 _ngcontent-ng-c3807716210="" style="font-size: 25px;"><a _ngcontent-ng-c3807716210=""
                                    href="https://www.youtube.com/watch?v=uc1xUs6_Ts4">طريقة تحضير بريك الدنوني
                                    الأصلي</a></h3>
                            <p _ngcontent-ng-c3807716210=""> يعرف البريك الدنوني شهرة في المطبخ التونسي، فهو أحد أفضل
                                المقبلات التي يستحسن إعدادها خاصّة في شهر رمضان </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
