


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
       
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/50.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/9.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/2.jpg" alt="Second slide">
        </div>
        
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/5.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/gift1.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>
<br>
<img width="300" class="mx-auto" src="/assets/ayah.svg" alt="وَأَحْسِنُوا ۛ إِنَّ اللَّهَ يُحِبُّ الْمُحْسِنِينَ">
<br><br><br><br>
<div class="line-with-words mb-5">
    <div class="line me-5"></div>
    <div
        style="text-align: center; font-weight: bold; font-size: 40px; font-family: 'Times New Roman', Times, serif;  color: #214570 !important;;">
        <hr class="hr1">من فرص التبرع
        <hr class="hr2">
    </div>
    <br> <br><br><br>
<div class="container">
    <div class="row">
        <div class="col-4">
<div class="card">
    <h6 class="card-text">زكاة الفطرة</h6>
    <div class="card-body">
        <img src="assets/zakat.jpg" class="card-img-top" alt="...">
        <br><br>
        <a href="#" class="btn btn-primary-green">تبرع الآن</a>
<div class="btn-round-icon">
        <mat-icon >shopping_cart</mat-icon>
</div>
<br><br><br><br>
<input type="text" placeholder="مبلغ التبرع" class="form-control"> 
</div>
</div>
        </div>
            <div class="col-4">
                <div class="card">
                    <h6 class="card-text">التبرع بلباس العيد</h6>
                    <div class="card-body">
                        <img src="assets/lebsa.webp" class="card-img-top" alt="...">
                        <br><br>
                        <a href="#" class="btn btn-primary-green">تبرع الآن</a>
                        <div class="btn-round-icon">
                            <mat-icon>shopping_cart</mat-icon>
                        </div>
                        <br><br><br><br>
                        <input type="text" placeholder="مبلغ التبرع" class="form-control">
                    </div>
                </div>
            </div>
            
                <div class="col-4">
                    <div class="card">
                        <h6 class="card-text">كفارة العاجز عن الصيام</h6>
                        <div class="card-body">
                            <img src="assets/التبرع.jpg" class="card-img-top" alt="...">
                            <br><br>
                            <a href="#" class="btn btn-primary-green">تبرع الآن</a>
                            <div class="btn-round-icon">
                                <mat-icon>shopping_cart</mat-icon>
                            </div>
                            <br><br><br><br>
                            <input type="text" placeholder="مبلغ التبرع" class="form-control">
                        </div>
                    </div>
                </div>
        
        </div>

    </div>
</div>

<div class="line-with-words mb-5">
    <div class="line me-5"></div>
    <div
        style="text-align: center; font-weight: bold; font-size: 40px; font-family: 'Times New Roman', Times, serif;  color: #214570 !important;;">
        <hr class="hr1">صحتي
        <hr class="hr2">
    </div>
    <br> <br><br><br>
    <div class="food1">
<img src="assets/food1.jpg" alt="">
    </div>
    <br>
   
    <section class="PageContentPanel">
        <p><strong>خلال شهر رمضان المبارك، يقوم المسلمون البالغون والذين يتمتّعون بصحة جيدة بالصوم يوميّاً منذ شروق الشمس
                وحتى غروبها. وبحسب التقاليد، عند حلول المغرب ينتهي الصيام بوجبة الإفطار، ثم تتبعها وجبة أخرى قبل الفجر
                تُسمّى السحور.وقد ثَبُت أنّ للصيام منافع عديدة على الصحة.</strong></p>

        <p>من خلال اتباع النصائح البسيطة التالية، ستتمكن من فقدان الوزن وخفض مستوى ضغط الدم والكوليسترول. ولكن من جهة أخرى،
            يُسبّب الإفراط في تناول الطعام عند الإفطار والسحور بزيادة الوزن. وغالباً ما يُعتبر شهر رمضان الكريم مدّة مخصصّة
            لممارسة الانضباط والتضحية والتعاطف مع من هم أقلّ حظاً، ويُشجَّع الحفاظ على هذه القيم خارج ساعات الصيام أيضاً.
        </p>
        <h4>إشرب كميات كافية من الماء وتناول الأطعمة الغنيّة بالسوائل المرطّبة خلال شهر رمضان</h4>
        <p>إشرب كميّات كبيرة من الماء في الفترة الممتدّة بين الإفطار والسحور. وبما أنّ درجة الحرارة المرتفعة تسبّب المزيد من
            التعرّق، من المهمّ شرب السوائل للتعويض عمّا يخسره الجسم من سوائل خلال اليوم (10 أكواب على الأقل). كما ويمكنك
            زيادة كمية المياه التي تتناولها من خلال تناول الأطعمة الغنية بالسوائل، حاول مثلاً أن تضيف البطيخ إلى وجبة السحور
            أو تناوله كتحلية بعد الإفطار، أو تناول السلطة العربية التقليدية، الفتوش، التي تحتوي على الخيار والبندورة وهي
            خضروات غنيّة بالسوائل. تجنّب تناول المشروبات التي تحتوي على الكافيين مثل القهوة والشاي والكولا لأن الكافيين يدرّ
            البول أكثر لدى بعض الأشخاص، ما يؤدي إلى جفاف الجسم. وتذكر أيضاً أنّ المشروبات الغازية التي تحتوي على السكر تزيد
            من السعرات الحرارية التي تتناولها.</p>
        <h4>تناول الأطعمة المناسبة عند السحور لتمنحك الطاقة خلال ساعات الصيام</h4>
        <p>يجب أن تكون وجبة السحور متكاملة وتمنحك الطاقة الكافية لتتابع يومك إلى أن يحين وقت الإفطار. لذا عليك اختيار
            الأطعمة المناسبة التي تساعدك على اجتياز الصيام، مثل الأطعمة الغنية بالكربوهيدرات المعقدة كالفاكهة والخضروات،
            والحبوب، والحمص والعدس التي تشكّل مصدراً مهمّاً للطاقة الدائمة خلال اليوم. تناول مشتقات الحليب قليلة الدسم مثل
            اللبنة واللبن وحاول إضافة الدهون الصحية غير المشبّعة إلى وجباتك مثل الأفوكادو، والمكسّرات غير المملّحة،
            والسلمون، والزيتون وزيت الزيتون.</p>
        <h4>تزوّد بالطاقة من خلال تناول وجبة إفطار متوازنة وصحية</h4>
        <p>يُعتبر تناول ثلاث ثمار تمر بعد الصيام طريقة تقليدية وصحية لبدء الإفطار، لأن التمر مصدرٌ مهمّ للألياف. كما وعليك
            تناول كمية كبيرة من الخضروات، لتحصل على الفيتامينات والمغذيات، واختيار الحبوب الكاملة التي تمدّ جسمك بالطاقة
            والألياف اللازمة. إستمتع بتناول اللحم القليل الدهن المشوي أو المطهوّ في الفرن، أو الدجاج المنزوع الجلد والسمك
            لتحصل على مصدر صحيّ للبروتين. وبشكل عام، عليك تجنّب الأطعمة المقلية والمصنّعة لأنها تحتوي على الكثير من الدهون
            والسكريات. واستمتع بوجبتك وتجنب الإفراط في تناول الطعام من خلال الأكل ببطء.</p>
        <h4>إقتراحات للوجبات</h4>
<section>
    <p><strong>السحور</strong></p>
    <img src="" alt="" style="width:150px;height:auto;float:right;">
    <br><br>
    <div class="container">
        <div class="row" style="float: right;">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/masfouf.jpeg" class="card-img-top" alt="...">
                        <br><br>
                        مسفوف تونسي
                        <br><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/smoothie.jpg" class="card-img-top" alt="...">
                        <br><br>
                        الشوفان مع عصير مخفوق (سموثي) مكوّن من اللبن قليل الدسم والفاكهة الطازجة
                        <br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br />

    <!-- الإفطار -->

    <p><strong>الإفطار</strong></p>
    <br><br>
    <img src="" alt="" style="width:150px;height:auto;float:right;">
    <br><br>
    <div class="container">
        <div class="row" style="float: right;">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/soupe.jpg" class="card-img-top" alt="...">
                        <br><br>
                        <br><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/brique.jpg" class="card-img-top" alt="...">
                        ملسوقة
                        <br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>